.tab-pane .tab-header-area .tab-header-background {-fx-opacity: 0;}
.tab-label {-fx-text-fill: black}
.changed-tab * .tab-label {-fx-text-fill: #0000ff}
.new-tab * .tab-label {-fx-font-style: italic; -fx-text-fill: #007700}
.deleted-latest-file-name, .deleted-tab * .tab-label {-fx-font-style: italic; -fx-text-fill: #999999}
.abc-text-area {-fx-font-size: 11pt;-fx-font-family:monospace}
.deleted-content {-fx-text-fill: #999999}
.abc-status-bar {-fx-font-size: 9pt; -fx-text-fill: #666666}
.abc-status-bar .center {-fx-halignment: center}
.abc-popup-label, .abc-popup-list {-fx-background-color: #ffffee; -fx-border-color: #333333; -fx-border-width: 1; -fx-opacity: 0.85}
.abc-popup-label, .abc-popup-header, .abc-odd-label, .abc-even-label {-fx-padding: 4 15 5 15}
.abc-odd-label {-fx-background-color: #eeeedd}
.file-tree-item > .tree-cell {-fx-text-fill: #0000ff}
.folder-tree-item > .tree-cell {-fx-text-fill: #009900}
.abc-close {-fx-font-weight: bold; -fx-font-size: 12pt; -fx-padding: 2 10 0 5}
.all-tunes-label {-fx-font-style: italic; -fx-font-weight: bold}
.file-name-button {-fx-font-weight: bold}
.abc-navigator {-fx-border-color: #cccccc}
.abc-help-browser {}
.abc-latest-file-name {-fx-text-fill: black}
.abc-latest-file-path {-fx-text-fill: #666666; -fx-font-style: italic}
